<a href="https://colab.research.google.com/github/SoumyajeetM/EDA_E-Commerce_Sales/blob/main/XIMB_Soumyajeet_Mohapatra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Manipulation
import pandas as pd
import numpy as np
# Data Visualisation
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
# Importing dataset
# Check 'Order_only.xlsx' file and upload it.
df = pd.read_excel('Book1.xlsx')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59833 entries, 0 to 59832
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Selling_Store_ID         59833 non-null  int64
 1   InventoryStore_ID        59833 non-null  int64
 2   Sale in Other Store      59833 non-null  object
 3   TransID                  59833 non-null  float64
 4   TrsDt                    59833 non-null  datetime64[ns]
 5   TrsTm                    59833 non-null  object
 6   Product Line             59833 non-null  int64
 7   Product_Line_Type        59833 non-null  object
 8   Product Div              59833 non-null  int64
 9   Product_ID               59833 non-null  int64
 10  Product_Variant          59833 non-null  int64
 11  NetQty                   59833 non-null  int64
 12  Full Retail Price        59833 non-null  float64
 13  Discounted Retail Price  59833 non-null  float64
 14  Discount                 59833 non-null  float64
 15  Over_Ride_Amount         59833 non-null  float64
 16  POS_Amount               59833 non-null  float64
 17  POS_MarkDown             59833 non-null  float64
 18  NetSale                  59833 non-null  float64
 19  Tax                      59833 non-null  float64
 20  Tax%                     58140 non-null  float64
 21  Gross_Sale               59833 non-null  float64
 22  Assoc_ID                 59833 non-null  int64
 23  Warranty_Eligible        59833 non-null  object
 24  Loyalty_ID               59833 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(9), object(4)
memory usage: 11.4+ MB

In [ ]:
#Finding Products Purchased of Customers
df_new=df.loc[df['Loyalty_ID'] == 7081057570919140,:]

df_new['Product_ID'].unique()

array([80763, 10130, 89805, 69253, 89818, 89795, 71969,     0, 10129,
       76911, 17088, 68545, 70296, 17224, 74352, 93714, 60965, 81920,
       90436])

In [ ]:
#Determinig Correlation Between Products
df_tem=df.loc[df['Product_ID'] == 43434,:]
df_t=df.loc[df['Product_ID'] == 43444,:]
df1 = df_t[['TrsDt','NetSale']]
df1.rename(columns = {'NetSale':'Sales1'}, inplace = True)
df2=df_tem[['TrsDt','NetSale']]
df2.rename(columns = {'NetSale':'Sales2'}, inplace = True)
subcat = df1.append(df2)
subcat['Date'] = subcat['TrsDt'].apply(lambda x: x.strftime('%Y-%m-%d'))
subcat=subcat.groupby('Date').agg({'Sales1':'sum', 'Sales2':'sum'})

subcat.corr()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          Sales1    Sales2
Sales1  1.000000  0.268627
Sales2  0.268627  1.000000